<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='frist.css') }}">
  </head>
  
<header class="showcase">
    <div class="container showcase-inner">
        <h1>Welcome to</h1>
        <p>Patient Management System</p>
        <a href="{{ url_for('login') }}" class="btnn">Login</a>
    </div>
    
</header>

  <body>
    
  </body>
</html>